In [1]:
import pandas as pd
import glob
import os

In [2]:
files = os.path.join('Raw data/','*.csv')
files_list = glob.glob(files)
files_list

['Raw data/202203-citibike-tripdata.csv',
 'Raw data/202209-citibike-tripdata.csv',
 'Raw data/202207-citbike-tripdata.csv',
 'Raw data/202201-citibike-tripdata.csv',
 'Raw data/202111-citibike-tripdata.csv',
 'Raw data/202205-citibike-tripdata.csv',
 'Raw data/202206-citbike-tripdata.csv',
 'Raw data/202112-citibike-tripdata.csv',
 'Raw data/202202-citibike-tripdata.csv',
 'Raw data/202208-citibike-tripdata.csv',
 'Raw data/202210-citibike-tripdata.csv',
 'Raw data/202204-citibike-tripdata.csv']

In [4]:
df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)

/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)
/var/folders/m_/swwg3ntd0f77llsbm3pv8_r00000gn/T/ipykernel_47597/1319481498.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, files_list),ignore_index=True)

In [5]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FA2F660C8D433037,electric_bike,2022-03-04 18:58:36,2022-03-04 19:13:51,Washington St & Barrow St,5847.08,University Pl & E 14 St,5905.14,40.731911,-74.008769,40.734814,-73.992085,member
1,03B6FE6FAEE61465,classic_bike,2022-03-06 20:37:09,2022-03-06 20:45:28,Washington St & Barrow St,5847.08,W 11 St & 6 Ave,5914.03,40.731911,-74.008769,40.735324,-73.998004,member
2,6E6995761B4A5760,classic_bike,2022-03-01 15:13:49,2022-03-01 15:19:53,1 Ave & E 110 St,7522.02,E 110 St & Madison Ave,7587.14,40.792327,-73.938300,40.796154,-73.947821,member
3,AA51CCF6CEDD6033,classic_bike,2022-03-11 13:59:03,2022-03-11 14:06:43,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member
4,72AA3A7D430D8EF8,classic_bike,2022-03-08 14:59:16,2022-03-08 15:05:04,Crescent St & Broadway,6827.11,31 Rd & 21 St,6929.02,40.763359,-73.928647,40.766824,-73.930486,member

In [6]:
citibike = df
citibike.to_csv('citibike.csv')