In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('3160934.csv')
data.head()

,STATION,NAME,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US",2022-04-05,NaN,0.00,0.0,NaN,NaN,NaN
1,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US",2022-04-06,NaN,0.36,NaN,NaN,NaN,NaN
2,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US",2022-04-07,NaN,0.20,NaN,NaN,NaN,NaN
3,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US",2022-04-08,NaN,1.94,NaN,NaN,NaN,NaN
4,US1NJBG0064,"WOOD RIDGE 0.2 N, NJ US",2022-04-09,NaN,0.00,NaN,NaN,NaN,NaN

In [5]:
data = data.loc[data['STATION']=='USW00014732']
data.head()

,STATION,NAME,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
1682,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-01,12.30,0.0,0.0,59.0,62.0,54.0
1683,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-02,7.61,0.0,0.0,54.0,55.0,48.0
1684,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-03,11.18,0.0,0.0,49.0,55.0,45.0
1685,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-04,6.93,0.0,0.0,47.0,52.0,42.0
1686,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-05,8.05,0.0,0.0,48.0,53.0,42.0

In [6]:
len(data)

365

In [12]:
NYweather = data

In [13]:
NYweather = NYweather.reset_index(drop=True)
NYweather.head()

,STATION,NAME,DATE,AWND,PRCP,SNOW,TAVG,TMAX,TMIN
0,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-01,12.30,0.0,0.0,59.0,62.0,54.0
1,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-02,7.61,0.0,0.0,54.0,55.0,48.0
2,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-03,11.18,0.0,0.0,49.0,55.0,45.0
3,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-04,6.93,0.0,0.0,47.0,52.0,42.0
4,USW00014732,"LAGUARDIA AIRPORT, NY US",2021-11-05,8.05,0.0,0.0,48.0,53.0,42.0

In [15]:
NYweather.to_csv('NYweather.csv')